@media (max-width: 992px)
    .header
        &__logo
            padding-left: 20px
        &__contacts 
            padding-right: 20px

    .promo
        &__wrapper
            margin-right: 10px

    .advantages
        padding: 70px 0 30px 0
        &__icons
            display: flex
            flex-direction: column
            justify-content: centre
            align-items: centre
        &__descr 
           display: block
           margin: 0 auto
           margin-bottom: 50px
        &__icon
            img
                display: block
                margin-bottom: 20px
@media (max-width: 767px)
    .header
        &__logo
            width: 200px
        &__official
            span
                font-size: 15px
        &__phone
            font-size: 15px
            margin: 0 auto
        &__contacts
            .button
                width: 145px
    .promo
        padding: 21px 0 60px 0
    .advantages
       &__wrapper
           flex-direction: column   
@media (max-width: 575px)
    .header
        &__official
            font-size: 8px
    .promo
        &__wrapper
        display: flex 
        align-items: centre 
        justify-content: centre 
        &__icons
            width: 500px
        &__link
            display: block
            margin: 0 auto 
            margin-top: 20px
    .button_main
        display: block
        margin: 0 auto
        margin-top: 65px
@media (max-width: 320px)
    .header
        display: flex
        align-items: centre
        justify-content: space-between
        &__logo
            width: 150px
        &__official
            display: none
        &__phone
            font-size: 10px
            margin: 0 auto
        &__contacts
            padding-right: 200px
            .button
                width: 130px
    .button_main
        margin-left: 60px
        width: 200px
    .promo
        
        
        &__wrapper
            display: flex
            justify-content: start
            align-items: start
        &__link
            margin-left: 60px
        &__header
            font-size: 25px
            display: block
            text-align: center
            margin-left: 5px
        &__subheader
            display: block
            width: 300px
            text-align: center
        &__icons
            display: flex
            flex-direction: column 
            justify-content: center
            align-items: center
               
    .title
        font-size: 28px
        



    
            
            
            
    

            
           
        
          
       
                    
        
            
            